@import "tailwindcss";

:root {
  --brand-orange: #d87d4a;
  --brand-peach: #fbaf85;
  --neutral-charcoal: #101010;
  --neutral-gray: #f1f1f1;
  --neutral-ivory: #fafafa;
  --error-red: #cd2c2c;
}

@theme inline {
  --color-brand-orange: var(--brand-orange);
  --color-brand-peach: var(--brand-peach);
  --color-neutral-charcoal: var(--neutral-charcoal);
  --color-neutral-gray: var(--neutral-gray);
  --color-error-red: var(--error-red);
  --color-neutral-ivory: var(--neutral-ivory);
}

@layer components {
  .styled-input {
    @apply w-full h-14 border-1 border-[#cfcfcf] outline-none rounded-lg text-sm tracking-[-0.25px] placeholder:text-black/50 disabled:bg-neutral-gray disabled:cursor-not-allowed text-black font-bold px-4 mb-6;
  }
  .styled-label {
    @apply flex text-xs tracking-[-0.21px] font-bold mb-[9px];
  }
}

/* PAGE(MAIN) SPINNER */
.loader {
  animation: rotate 1s infinite;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #000;
  box-shadow: 30px 0 0 #d87d4a;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #d87d4a;
  box-shadow: 30px 0 0 #000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #d87d4a;
  }
  50% {
    box-shadow: 0 0 0 #d87d4a;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #d87d4a;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #000;
  }
  50% {
    box-shadow: 0 0 0 #000;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #000;
    margin-top: 0;
  }
}

/* SPINNER MINI */

.spinner-mini {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
