@import "tailwindcss";

:root {
  --brand-orange: #d87d4a;
  --brand-peach: #fbaf85;
  --neutral-charcoal: #101010;
  --neutral-gray: #f1f1f1;
  --neutral-ivory: #fafafa;
}

@theme inline {
  --color-brand-orange: var(--brand-orange);
  --color-brand-peach: var(--brand-peach);
  --color-neutral-charcoal: var(--neutral-charcoal);
  --color-neutral-gray: var(--neutral-gray);
  --color-neutral-ivory: var(--neutral-ivory);
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
